<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package
    Name="unicode_norm"
    Manufacturer="Arrghsoft"
    Version="1.0.1.0"
    UpgradeCode="64704c33-af9e-4183-9719-6b9dba99719d"
    Codepage="65001">

    <ui:WixUI Id="WixUI_Minimal" />
    <Property Id="WIXUI_WELCOMEDLG_TEXT" Value="This program does filename unicode normalization.&#13;&#13;After installation, the following items is going to be added to right click context menu:&#13;• Convert to NFC&#13;• Convert to NFD&#13;&#13;Please click next to install unicode_norm. " />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Installation complete!&#13;&#13;Now you can simply normalize unicode filename with right click menu.&#13;&#13;If you want to remove the program, go to [Add or remove programs] and uninstall unicode_norm." />


    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="unicode_norm" />
    </StandardDirectory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExe" Bitness="always64">
        <File Source="../../build/unicode_norm.exe" />
      </Component>

      <Component Id="ContextMenuNFC" Bitness="always64">
        <RegistryKey Root="HKCR" Key="*\shell\ConvertToNFC">
          <RegistryValue Type="string" Value="Convert to NFC" />
          <RegistryValue Type="string" Name="Icon" Value="[INSTALLFOLDER]unicode_norm.exe" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="*\shell\ConvertToNFC\command">
          <RegistryValue Type="string"
            Value="&quot;[INSTALLFOLDER]unicode_norm.exe&quot; -f NFC -r &quot;%1&quot;" />
        </RegistryKey>
      </Component>

      <Component Id="ContextMenuNFD" Bitness="always64">
        <RegistryKey Root="HKCR" Key="*\shell\ConvertToNFD">
          <RegistryValue Type="string" Value="Convert to NFD" />
          <RegistryValue Type="string" Name="Icon" Value="[INSTALLFOLDER]unicode_norm.exe" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="*\shell\ConvertToNFD\command">
          <RegistryValue Type="string"
            Value="&quot;[INSTALLFOLDER]unicode_norm.exe&quot; -f NFD -r &quot;%1&quot;" />
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <Feature Id="Main">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
  </Package>
</Wix>
